<div class="container">
    <header class="header">
        <div class="row">
            <div class="four columns">
                <img src="{{ "/icon.png" | absolute_url }}" />
            </div>
            <div class="eight columns">
                <h1 class="header-title">{{ site.title}}</h1>
                <h4>{{ site.description }}</h4>
            </div>
        </div>
        <div class="value-props row">
            <div class="four columns value-prop" >
                {% if site.twitter %}
                <a href="https://twitter.com/{{ site.twitter }}">
                    <img src="{% link /assets/social-twitter.png %}"
                         alt="twitter"
                         class="value-img"
                         with="32px" />
                </a>
                {% endif %}
            </div>
            <div class="four columns" >
            </div>
            <div class="four columns" >
            </div>
        </div>
    </header>
</div>

<hr/>
