<div class="container header">
    <div class="row">
        <header>
            <div class="four columns">
                <a href="{{ site.base_url }}">
                    <img src="{{ "/icon.png" | absolute_url }}" />
                </a>
            </div>
            <div class="eight columns">
                <a href="{{ site.base_url }}">
                    <h1 class="header-title">{{ site.title}}</h1>
                </a>
                <h4>{{ site.description }}</h4>
            </div>
        </header>
    </div>
    <div class="row" >
        <div class="four columns" ><p></p></div>
        {% for link in site.social_links %}
        <div class="one column" >
            <a href="{{ link.url }}">
                {% if link.pic %}
                <img style="width: 2em;" src="{{ link.pic | absolute_url }}" />
                {% else %}
                <img style="width: 2em;" src="{%link /assets/bullet.png %}" />
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<hr/>
