<div class="container header">
    <div class="row">
        <div class="four columns">
            <a href="{{ site.url }}">
                <img class="header-icon" src="{{ "/icon.png" | absolute_url }}" />
            </a>
        </div>
        <div class="eight columns">
            <a href="{{ site.url }}">
                <h1 class="header-title">{{ site.title}}</h1>
            </a>
            <h4>{{ site.description }}</h4>
        </div>
    </div>
    <div class="row" >
        <div class="four columns" ><p></p></div>
        {% for link in site.social_links %}
        <div class="one column" >
            <a href="{{ link.url }}">
                {% if link.ico %}
                <img style="width: 2em;" src="{{ link.ico | absolute_url }}" />
                {% else %}
                <img style="width: 2em;" src="{%link /assets/bullet.svg %}" />
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
