/*
* Based on: https://github.com/whatsnewsaes
*/


@import "syntax";

.site-logo {
    grid-area: site-logo;
}

.site-title {
    grid-area: site-title;
}

.site-description {
    grid-area: site-description;
}

.site-contacts {
    grid-area: contacts;
}

.site-navigation {
    grid-area: navigation;
}

.site-footer {
    grid-area: footer;
}

.site-content {
    grid-area: content;
}

.site-comments {
    grid-area: comments;
}

@media(min-width: 480px) {
    .site-container {
        display: grid;
        justify-items: stretch;
        grid-template-columns: min-content minmax(320px, auto);
        grid-template-rows: minmax(2rem, min-content) 2rem 4rem auto 8rem;
        grid-template-areas:
            " site-logo        site-title    "
            " site-logo     site-description "
            " .                contacts      "
            " .               navigation     "
            " .                 content      "
            " .                comments      "
            " .                 footer       ";
    }
}

.site-logo {
    display: flex;
}

.site-logo > img {
    min-height: 100%;
    width: auto;
}

.site-title {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 42pt;
}

.site-description {
    margin-bottom: 1rem;
}

.site-navigation {
    display: flex;
    flex-direction: row wrap;
    align-items: space-between;
    justify-content: flex-start;
}

.site-navigation > * {
    font-size: 14pt;
    text-decoration: none;
    margin-right: 1rem;
}

.site-contacts {
    display: flex;
    flex-direction: row wrap;
    align-items: space-between;
    justify-content: flex-start;
}
.site-contacts > * {
    text-decoration: none;
    margin-right: 1rem;
}




.header-icon {
    max-height: 12em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.article-header {
    text-align: center;
    margin-bottom: 4em;
}
