@import "syntax";

.site-logo {
    grid-area: site-logo;
}

.site-title {
    grid-area: site-title;
}

.site-description {
    grid-area: site-description;
}

.site-contacts {
    grid-area: contacts;
}

.site-navigation {
    grid-area: navigation;
}

.site-footer {
    grid-area: footer;
}

.site-content {
    grid-area: content;
    max-width: 100%;
}

.site-comments {
    grid-area: comments;
}

@media(min-width: 128px) {
    .site-container {
        display: grid;
        justify-items: center;
        grid-template-columns: minmax(128px, auto);
        grid-template-rows: min-content minmax(2rem, min-content)
                                        minmax(2rem, min-content) 2rem 2rem
                                        auto  min-content 8rem;
        grid-template-areas:
            " site-logo "
            " site-title    "
            " site-description "
            "    contacts      "
            "   navigation     "
            "     content      "
            "    comments      "
            "     footer       ";
    }

    .site-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .site-description {
        text-align: center;
    }
}
@media(min-width: 1000px) {
    .site-container {
        display: grid;
        justify-items: stretch;
        grid-template-columns: 20% 300px minmax(320px, auto) 20%;
        grid-template-rows: minmax(2rem, min-content) minmax(2rem, min-content) 2rem 2rem  auto  min-content 8rem;
        grid-template-areas:
            " margin-left site-logo        site-title    margin-right "
            " margin-left site-logo     site-description margin-right "
            " margin-left .                contacts      margin-right "
            " margin-left navigation      navigation     margin-right "
            " margin-left content           content      margin-right "
            " margin-left comments         comments      margin-right "
            " margin-left footer            footer       margin-right ";
    }

    .site-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem;
    }
}

.site-logo > img {
    max-width: 300px;
    width: 100%;
    flex-shrink: 0;
}

.site-title {
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    font-size: 50pt;
    font-size: 8vw;
}

.site-description {
    margin-bottom: 1rem;
}

.site-navigation {
    display: flex;
    flex-direction: row wrap;
    align-items: space-between;
    justify-content: flex-start;
}

.site-navigation > * {
    font-size: 14pt;
    text-decoration: none;
    margin-right: 1rem;
}

.site-contacts {
    display: flex;
    flex-direction: row wrap;
    align-items: space-between;
    justify-content: flex-start;
}
.site-contacts > * {
    text-decoration: none;
    margin-right: 1rem;
}

.article-header {
    text-align: center;
    margin-bottom: 4rem;
}
