/*
* Based on: https://github.com/whatsnewsaes
*/

/* Base files. */
@import "skeleton/base/normalize";
@import "skeleton/base/variables";
@import "skeleton/base/functions";
@import "skeleton/base/base-styles";
@import "skeleton/base/utils";
@import "skeleton/base/typography";

/* Modules */
@import "skeleton/modules/grid";
@import "skeleton/modules/buttons";
@import "skeleton/modules/forms";
@import "skeleton/modules/lists";
@import "skeleton/modules/code";
@import "skeleton/modules/tables";
@import "skeleton/modules/spacing";
@import "skeleton/modules/media-queries";

@import "syntax";

.header{
    margin-top: 4em;
}

.header-icon{
    max-height: 12em;
    border-radius: 50%;
}

.navbar > li{
    list-style-type: none;
    display: inline-block;
    font-size: 14pt;
}
