@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua:500,900|Roboto+Slab');

@function approx($a, $b, $sublevel, $suplevel, $i) {
    @return $a + ($b - $a)*($sublevel - $i)/($sublevel - $suplevel);
}

@mixin font-by-level($i) {
    @if($i <= $title-level) {
        font-family: $title-font;
        font-size: approx($subtitle-fontsize, $title-fontsize,
                          $title-level, 0,
                          $i);
        font-weight: $title-fontweight;
    } @elseif($i <= $subtitle-level) {
        font-family: $subtitle-font;
        font-size: approx($regular-fontsize, $subtitle-fontsize,
                          $regular-level, $subtitle-level,
                          $i);
        font-weight: $subtitle-fontweight;
    } @else {
        font-family: $regular-font;
        font-size: approx($regular-fontsize, $subtitle-fontsize,
                          $regular-level, $subtitle-level,
                          $i);
        font-weight: $regular-fontweight;
    }
}


body {
    font-family: $regular-font;
}

@for $i from 1 through $regular-level {
    h#{$i} {
        @include font-by-level($i)
    }
}

p span {
    @include font-by-level($regular-level);
}

strong {
    @include font-by-level($strong-level);
}

a {
    text-decoration: none;
    color: $regular-color;
}


.site-navigation {
    background-color: $nav-backcolor;
    color: $nav-forecolor;
}

.site-navigation > * {
    color: $nav-forecolor;
    @include font-by-level($navigation-level);
}

.site-title {
    text-transform: uppercase;
    @include font-by-level(0);
}
