// Layout vars

$tablet-width: 1000px;
$page-width: 210mm;
$logo-width: 65mm;
$left-margin: 2cm;
$right-margin: 2cm;
$logo-title-margin: 1rem;

// Typography vars

$title-color: black;
$regular-color: black;
$nav-backcolor: black;
$nav-forecolor: white;

$mobile-fontsize-scale: .4;

$levels: 0, 1, 4, 10;
$desktop-fontsizes: (42pt, 26pt, 20pt, 14pt);
$mobile-fontsizes: (22pt, 16pt, 16pt, 12pt);
$fontweights: (900, 700, 400, 400);

@import url('https://fonts.googleapis.com/css?family=Cinzel|Vollkorn');

$fontfamilies: (('Cinzel', serif), ('Cinzel', serif),
                ('Vollkorn', serif), ('Vollkorn', serif));

$navigation-level: 8;
$strong-level: 9;

@function first($list) {
    @return nth($list, 1);
}

@function last($list) {
    @return nth($list, length($list));
}
