<!DOCTYPE html>

<html>
    <head>
    {% include head.html %}
    </head>
    <body class="site-container">
        <a class="site-title"
           href="{{ site.url }}">
            {{ site.title }}
        </a>

        <header class="site-description" >
            <p>{{ site.description }}</p>
        </header>

        <a href="{{ site.url }}"
           class="site-logo">
            <img src="{{ site.site_logo | relative_url }}" />
        </a>

        <section class="site-contacts">
            {% for link in site.social_links %}
            <a href="{{ link.url }}">
                {% if link.ico %}
                <img style="width: 2em;"
                     src="{{ link.ico | absolute_url }}" />
                {% else %}
                <img style="width: 2em;"
                     src="{%link /assets/bullet.svg %}" />
                {% endif %}
            </a>
            {% endfor %}
        </section>

        <nav class="site-navigation">
            {% include navigation.html %}
        </nav>

        <section class="site-content">
            {{ content }}
        </section>

        <section class="site-comments">
            <div id="disqus_thread" ></div>
            {% include disqus.html %}
        </section>

        <footer class="site-footer">
            {% include footer.html %}
        </footer>

    </body>
</html>
