<!DOCTYPE html>

<html>
    {% include head.html %}

    <body>
        {% include header.html %}
        {% include navbar.html %}
        <hr/>

        <div class="container">
            <div class="row" >
                <div class="two columns">
                    {% include sidebar.html %}
                </div>
                <div class="eight columns">
                    {{ content }}
                </div>
                <div class="two columns">
                    <p></p>
                </div>
            </div>
        </div>

        <hr/>

        {% include footer.html %}
    </body>
</html>
